<!--IMPORTANDO O TEMPLATE BASE-->
{% extends 'base.html'%}

{% block content %}

<main>
    <h1>JOGOS EM DESTAQUE</h1>
    <hr>

    <ul>
        <li>Título: {{ titulo }}</li>
        <li>Ano: {{ ano }}</li>
        <li>Categoria: {{ categoria }}</li>
    </ul>

    <p>O jogo {{ titulo }} tem {{ 2026 - ano }} anos.</p>

    <h3>Top Players - Ranking</h3>
    <ol>
        {% for jogador in jogadores %}
            <li>{{ jogador }}</li>
        {% endfor %}
    </ol>

    <hr>

    <h3>Jogo do ano:</h3>
    <ul>
        {% for chave, valor in games.items() %}
            <li>{{ chave }} - {{ valor }}</li>
        {% endfor %}
    </ul>

    <p><a href="/">VOLTAR</a></p>

</main>

    <p><a href="/">VOLTAR</a></p>
    
    </main> 

    {% endblock content %}