{% extends 'base.html' %}
{% block content %}

<div class="container col-4">
    <div class="card mt-4">
        <div class="card-header">
            <h1>Login de usuario</h1>
        </div>
        <div class="card-body m-auto">
            <!-- Form -->
             <form action="{{url_for('login')}}" method="POST"> 
                <label>E-mail</label>
                <input type="password" name="email" placeholder="Insira seu email" required class="form-control">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Insira sua senha" required class="form-control">
                <br>
                <!-- BOTOES -->
                 <button type="submit" class="btn btn-danger btn block">Entrar</button>

             </form>
             <hr>
             <h6>Não possui conta? <a href="{{url_for('cadastro')}}">Cadastre-se!</a></h6>

        </div>

    </div>
</div>

{% endblock content %}


