{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>LOGIN DE USUÁRIO</h2>
        </div>
        <div class="card-body m-auto">
        <form action="{{ url_for('login') }}" method="POST">

                <label>E-mail</label>
                <input type="email" name="email" placeholder="Insira seu e-mail" required class="form-control">

                <label class="mt-3">Senha</label>
                <input type="password" name="senha" placeholder="Insira sua senha" required class="form-control">

                <br>
                <button type="submit" class="btn btn-danger btn-block"> Entrar </button>

            </form>

            <hr>
            <h6>Não possui conta? <a href="{{ url_for('cadastro') }}">Cadastre-se!</a></h6>
        </div>
    </div>
</div>

{% endblock content %}