{% extends 'base.html' %}

{% block content %}
<details>
    <summary>[Cadastrar um novo jogo</summary>
    <div class="col-md-4">
        <form action="{{url_for('estoque_jogos')}}" method="POST">
            <input type="text" name="titulo" placeholder="Titulo" class="form-control" required>
            <input type="text" name="ano" placeholder="Ano" class="form-control" required>
            <input type="text" name="categoria" placeholder="Categoria" class="form-control" required>
            <input type="text" name="plataforma" placeholder="Plataforma" class="form-control" required>
            <input type="number" name="preco" placeholder="Preco" class="form-control" required>
            <input type="text" name="quantidade" placeholder="Quantidade" class="form-control" required>
<br>
<!-- BOTOES -->
 <input type="submit" value="Cadastrar" class="btn btn-success">
 <input type="reset"  value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>
<hr>

<!-- TABELA DE JOGOS -->
<h2>Controle de estoque</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
           <th>Ano</th>
            <th>Categoria</th>
            <th>Plataforma</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th colspan="2" style="text-align:center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{game.titulo}}</td>
            <td>{{game.ano}}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.plataforma}}</td>
            <td>{{game.preco}}</td>
            <td>{{game.quantidade}}</td>
            <td>
                <a href="" class="btn btn-warning">
                Editar
                  </a>
            </td>
            <td>
                <a href="{{url_for('estoque_jogos', id=game.id)}}" 
                class="btn btn-danger"
                onclick="return confirm('Deseja mesmo excluir o jogo?')">
                Deletar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock content %}